:root{
    --black:#000000;
    --elsky: #F7FBFF;
    --skyyblue:#009FF4;
    --skubblue: rgba(0, 159, 244, 0.3);
}
.ffont{
    font-size: 30px;
}
.bg-skubblue{
    background: rgba(0, 159, 244, 0.3);
}
.black {
    color: var(--black);
}
.bg-elblue{
    background: var(--elsky);
}
.skyyblue{
    color: var(--skyyblue);
}
.bg-skyyblue{
    background: var(--skyyblue);
}
.bg-skyblue{
     background: rgba(0, 159, 244, 0.11);
}
.bg-dgrey{
    background: rgba(247, 247, 247, 1);
}
.dgrey{
    color:rgba(93, 114, 133, 1);
}
.invoice-btn{
    border: none;
    padding: 9px 25px;
    color: white;
    border-radius: 5px;
}
.my-shadow{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 20px 20px;
}
.custm-select option{
     color: #8897AD;
}
.shadow2{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table-bin{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}
.table-tax{
    border: 1px solid gray;
    border-radius: 10px;
}
.border-btm{
    border-bottom: 1px solid var(--skyyblue);
}
.fram{
    height: 100%;
    width: 100%;
}
.font-14 {
    font-size: 14px;
}
.img-size{
    height: 15px;
    width: 15px;
    object-fit: contain;
}
.team-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit:cover;
}
.btn1-cstm{
  padding: 2px 5px;
  border: 1px solid var(--skyyblue);
  color: var(--skyyblue);
  border-radius: 5px;
  min-width: 112px;
}
.btn2-cstm{
    padding: 2px 5px;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    min-width: 112px;
    background: transparent;
}
.border-btm{
    border-bottom: 1px solid var(--skyyblue);
}
@media screen and (max-width:400px){
    .deletejob-btn{
        font-size: 12px;
    }
    .generateinvoice-btn{
        font-size: 12px;
    }
}