.blu{
    color: #6366F1;
}

.blu2{
    color: #303C6C;
}

.gre{
    color:  #747F8F;
}

.nav-bg{
    background-color: #f7f7f8;
}
.btn-blue{
    background-color: #009FF4;
}

.input-bg{
    background-color: #D9D9D9;
}

.border-blu{
    border: 1px solid #009FF4;
}

.main-job{
    background-color: #f7f7f8;
}

.red-bg{
    background-color: #EA4335;
}

.mute-blue{
    background-color: #C4E4F5;
}

.sky-c{
    color: #009FF4;
}

.img-edit{
    width: 100%;
    height: 100%;
    max-width: 20px;
    object-fit: contain;
}

.main-range input[type="range"] {
    -webkit-appearance: none; /* Remove default styling */
    width: 100%;
    background: transparent; /* Make track transparent */
}

.main-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #367AF6;
    margin-top: -4px
}

.main-range input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
}

.main-range input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #000;
}

.main-range input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
}

.main-range input[type="range"]::-ms-thumb {
    width: 16px;
    height: 16px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #000;
}

.main-range input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    border: none;
    color: transparent;
}

.position-x{
    position: absolute;
    top: -9px;
    right: 9px;
}

.main-check input[type=checkbox]{
    accent-color: black;
    width: 20px;
    height: 20px;
}

.fc-day-header.fc-widget-header{
    background-color: #ECF2FF;
    height: 60px;
}

.fc-day-header.fc-widget-header span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.font-12{
    font-size: 12px;
}

.light-red{
    background-color: rgba(234, 67, 53, 0.2);
}

input:focus, 
textarea:focus,
select:focus{
    outline: none;
}

.btn-sv{
    min-width: 100px;
    border: 1px solid #003FDB;
}
.dropdown1 {
    position: relative;
}

.dropdown-toggle1 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: left;
}

.dropdown-menu1 {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

.create-new-btn {
    width: 100%;
    padding: 10px;
    border: none;
    color: #007bff;
    background-color: white;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.search-container {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
}

.customer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.customer-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.customer-list-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.customer-list-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modal-input{
    background-color: #F7FBFF;
    width: 100%;
    border: 1px solid #D4D7E3;
    padding: 5px;
    border-radius: 5px;
}

.user-file{
    width: 60px;
    height: 60px;
    object-fit: fill;
    border-radius: 50%;
}

.switch {
    display: flex;
    align-items: center;
}

.switch-label {
    margin: 0 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.switch-input {
    display: none;
}

.switch-slider {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch-slider::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s;
}

.switch-input:checked + .switch-slider {
    background-color: #2196F3;
}

.switch-input:checked + .switch-slider::before {
    left: 26px;
    background-color: white;
}

.custom-dropdown {
    position: relative;
}

.custom-dropdown-toggle {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: left;
}

.custom-dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

.create-new-btn {
    width: 100%;
    padding: 10px;
    border: none;
    color: #007bff;
    background-color: white;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.search-container {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
}

.custom-customer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom-customer-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.custom-customer-list-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-dropdown-menu::-webkit-scrollbar,
.pr-height::-webkit-scrollbar,
.dropdown-menu1::-webkit-scrollbar{
    width: 7px;
    height: 0px;
}

.custom-dropdown-menu::-webkit-scrollbar-track,
.pr-height::-webkit-scrollbar-track,
.dropdown-menu1::-webkit-scrollbar-track{
    background: #DADADA;
    margin: 50px 0;
    border-radius: 50px;

}

.custom-dropdown-menu::-webkit-scrollbar-thumb,
.pr-height::-webkit-scrollbar-thumb,
.dropdown-menu1::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 50px;
}

.custom-dropdown-menu::-webkit-scrollbar-thumb:hover,
.pr-height::-webkit-scrollbar-thumb:hover,
.dropdown-menu1::-webkit-scrollbar-thumb:hover {
    background: #000;
}
#map {
    height: 300px; /* Set height */
    width: 100%;   /* Set width */
}

.cat-up{
    width: 100%;
    height: 100px;
    border: 2px dashed #009FF4;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.right-bottom1{
    height: calc(100dvh - 122px);
    overflow-y: auto;
}

.right-bottom1::-webkit-scrollbar {
    width: 7px;
    height: 0px;
}

.right-bottom1::-webkit-scrollbar-track {
    background: #DADADA;
    margin: 50px 0;
    border-radius: 50px;

}

.right-bottom1::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 50px;
}

.right-bottom1::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.font-14{
    font-size: 14px;
}
.light-s{
    background-color: #F7FBFF !important;
}
.main-table .table thead tr th{
    background-color: #fff;
    padding: 12px 12px;
    font-size: 15px;

}

.main-table .table thead tr{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-table .table thead tr{
    border-radius: 14px;
}

.main-table .table{
    border-collapse: separate;
    border-spacing: 0px 5px
}
.trash-b{
    background-color:  #F5F5F5;
}
.pay-img{
    width: 30px;
    height: 100%;
    object-fit: contain;
}

.pr-height{
    height: calc(100dvh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}

.pro-img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.f-img{
    width: 100%;
    height: 100%;
    max-width: 70px;
    object-fit: cover;
    border-radius: 8px;
}

.position-profile{
    position: absolute;
    bottom: -30px;
    width: 98%;
    left: 14px;
}
.pro-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.stripe-img{
    width: 100%;
    height: 100%;
    max-width: 60px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}
.paypal{
    width: 100%;
    height: 100%;
    max-width: 54px;
    object-fit: contain;
}
.primary-blue{
    color: #2F70F2;
}

.prpl-re{
    color: #876AFE;
}

.parrot-gre{
    color: #4EEA7A;
}

.match-book{
    background-color: rgba(0, 159, 244, 0.2);
}

.nav-tabs ul{
    background-color: #ECF2FF;
    padding: 8px 8px 0px 8px;
    border-radius: 10px;
}

.nav-tabs ul .nav-item .nav-link.active{
    background-color: transparent;
    color: #003FDB;
    font-weight: 600;
    border: none;
    border-bottom: 3px solid #003FDB;
    border-radius: 0
}
.nav-tabs ul .nav-item .nav-link{
    border: none;
    border-radius: 0;
    color: #000;
}

.bg-lorng{
    background-color: rgba(255, 156, 0, 0.3);
}

.lorng{
    color: #FF9C00;
}

/* --------Chat----------- */
.chat-start{
    height: calc(100vh - 107px);
}

.left-c{
    height: 100%;
    width: calc(25% - 6px);
    margin: 0 3px;
}

.mid{
    height: 100%;
    width: calc(50% - 6px);
    margin: 0 3px;
}

.right-c{
    height: 100%;
    width: calc(25% - 6px);
    margin: 0 3px;
}

.icons-clr{
    color: #3551B6;
    font-size: 18px;
}

.in-bg{
    background-color: rgba(53, 81, 182, 0.1) !important;
}

.img-us{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.chat-height{
    height: calc(100vh - 255px);
    margin: 9px;
    overflow-y: auto;
    overflow-x: hidden;
}


.chat-height::-webkit-scrollbar {
    width: 7px;
    height: 3px;
}

.chat-height::-webkit-scrollbar-track {
    background: #DADADA;
    margin: 50px 0;
    border-radius: 50px;

}

.chat-height::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 50px;
}

.chat-height::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.frank-bg{
    background-color: #F5F5F5;
    width: inherit;
    border-radius: 10px;
}

@media screen and (max-width: 1440px){
    .main-tabb .nav-pills .nav-link {
        font-size: 16px;
    }
}
@media screen and (max-width: 992px){
    .pr-height {
        height: calc(100dvh - 265px);
    }
}
@media only screen and (max-width: 577px){
    .time-font h6,
    .time-font p{
        font-size: 13px;
    }
    .btn-sv {
        min-width: 90px;
        border: 1px solid #003FDB;
        font-size: 12px;
    }
    .font-j{
        font-size: 16px;
    }
    .f-img {
        width: 100%;
        height: 100%;
        max-width: 55px;
        object-fit: cover;
        border-radius: 8px;
    }
    .in-f{
        font-size: 12px;
        padding: 7px 10px !important;
    }
    .pr-height {
        height: calc(100dvh - 253px);
    }
    .match-book h5{
        font-size: 16px;
    }
    .nav-tabs ul .nav-item .nav-link{
        font-size: 12px;
    }
}
@media screen and (max-width: 380px){
    .font-j{
        font-size: 14px;
    }
    .font-14{
        font-size: 11px;
    }
    .pr-height {
        height: calc(100dvh - 246px);
    }
    .btn-sv {
        min-width: 50px;
        border: 1px solid #003FDB;
        font-size: 11px;
    }
}